
<div class="container">
    <div class="jumbotron">
      <h1>Flight Search Application</h1>
      <h2>Select flight </h2>   
      <h3 ></h3>
    </div>
    
</div>

<div class="container">

  <div class="row" style="padding-top: 10px; padding-bottom: 10px; font-size: 20px;">                
    
    
    <div class="col-4">
      <div>Flight: {{flightInfo.flightNumber}}</div>
      <div>{{flightInfo.originAirport}} - {{flightInfo.destAirport}}</div>

    </div>
    <div class="col-8">

       <p>List User Information....</p>
         <!-- {{user | json}} -->
      <ul>
       <li *ngFor="let user of userList">
        
          <span> Id : {{user.id}}</span>          
          <span> -- Title : {{user.title}}</span>          
       </li>
      </ul>
    </div>
</div>
</div>
