

<div class="container">
    <div class="jumbotron">
      <h1>Flight Search Application</h1>
      <h2>Search flight </h2>
    </div>
    
</div>

<div class="container">

  <div class="row " style="padding-top: 10px; padding-bottom: 10px">                
    <div class="col-md-3 flight-widget">
      <app-flight-widget [title] = "'Shortest Flight'" [flightName] = "'A1 410'" [cost] = "'700'">  </app-flight-widget>       
      </div>
    <div class="col-md-3 flight-widget">
      <app-flight-widget [title] = "'Cheapest Flight'" [flightName] = "'A1 404'" [cost] = "'100'">  </app-flight-widget>
    </div>
    <div class="col-md-3 flight-widget">
      <app-flight-widget [title]= "'Longest Flight'" [flightName] = "'A1 500'" [cost] = "'800'">  </app-flight-widget>
    </div>
  </div>
  


  <section>
    <div *ngIf="flightInfo == null" class="row flight-info flight-error">
        Flight Information not available
    </div>
    <div class="row flight-info-header" >
      <div class="col-md-2">
       
          Flight
      </div>
      <div class="col-md-1">
       
        <mat-icon>flight_takeoff</mat-icon>
        
       
    </div>
    <div class="col-md-1">
     
        <mat-icon>flight_land</mat-icon>
     

     
  </div>
  <div class="col-md-1">
     
  Departure
</div>
<div class="col-md-1">
     
  Arrival
</div>
<div class="col-md-1">
  Duration
</div>
<div class="col-md-1">
  Fare
</div>

<div class="col-md-1">
  status
</div>

  <div class="col-md-3">
    
    </div>
  </div>
  <div *ngFor="let flight of flightInfo">
      <div  *ngIf="flight.status !== 'Canceled'" class="row flight-info" >         
       
        <div class="col-md-2">
            <!-- <img src="{{flight.logo}}" width="25px" height="25px" /> -->
            <mat-icon> flight</mat-icon>
            {{flight.flightNumber}}            
          </div>
        <div class="col-md-1">      
         
            {{flight.originAirport}} <span style="font-size:14px"> - {{flight.origin}}</span>
        </div>
        <div class="col-md-1">
          {{flight.destAirport}} <span style="font-size:14px"> - {{flight.destination}}</span>
          
        </div>
        <div class="col-md-1">
          {{flight.departureTime | date: 'h:mm a' }}          
        </div>
        <div class="col-md-1">
          {{flight.arrivalTime | date: 'h:mm a' }}
          
        </div>

        <div  class="col-md-1">
          {{getDuration(flight.departureTime, flight.arrivalTime)}}
        </div>
        <div  class="col-md-1">
          {{flight.cost | currency: 'INR' }}
        </div>
        <div class="col-md-1" >
          <div *ngIf= "flight.status"> {{flight.status | uppercase}}</div>
          
        </div>

        <div class="col-md-3 action">
          <button mat-raised-button color="primary">Select</button>
         
        </div>
      </div>
    </div>
    </section>
</div>




<hr>



<!-- <div>
    <br>
      <div class="container">
          <div class="container">
            <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
                <div class="blocks">
                    <button button="submit" mat-raised-button color="primary">
                        <mat-icon>add</mat-icon> Add Post
                    </button>
                </div>
          </div>
      </div>
      <br>
      <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
          <mat-card class="card" >
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              <h3>Recent Posts</h3>
            </mat-card-title>
            <mat-card-content>
                <div class="example-container mat-elevation-z8">
                    
                  </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div> -->