
.flight-info {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #f7f7e0;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 17px;
}

.flight-info-header {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #f8f8c6;
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 17px;
}

.flight-info:hover {
    background-color: rgb(230, 230, 228);
}

.flight-info:hover .action {
        display: inline-block;
}

.action {
    display: none;
    text-align: right;
}

.flight-widget {
    background: #eeeeee;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(153 143 143 / 58%);
}


.flight-error {
    color: red;
    text-align: center;
}