
.flight-info {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #e6e694;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.flight-info:hover {
    background-color: rgb(230, 230, 228);
}

.flight-error {
    color: red;
    text-align: center;
}